{% extends 'base.html' %}

{% block content %}
{{article}}
<h2>{{ articles.name }}</h2>
<p>Price: {{ articles.price }}</p>
<img src="{{article.image}}">
<p>{{ articles.description }}</p>

<h3>Feedbacks</h3>
<ul>
    {% for feedback in feedbacks %}
   <li>
       <p>{{feedback.content}}</p>
   </li>
    {% endfor %}
</ul>

<h3>Add a Feedback</h3>

<form method="POST">
    {% csrf_token %}
    {{feedback_form.as_p}}
    <button type="submit">Add Feedback</button>
</form>


<a href="{%url 'home'%}">Back to list</a>





{% endblock %}
