{% extends 'base.html' %}

{% block content %}

{% for article in articles %}
    <div class="sportshop-articles">
    <h3>{{article.name}}</h3>
    <img src="{{article.image}}">
    <p><b>Brief description:</b> {{article.description}}</p>
    <p><b>Price:</b> {{article.price}}</p>
    <p><a href="{% url 'article_feedback' article.pk%}">Details</a></p>
</div>
{% endfor %}

{% endblock %}
